body { background: url(../../../img/login/login_bg_0.jpg) #f8f6e9; }
.signin { width: 477px; height: 479px; background: url(../../../img/login/login_bg.png) no-repeat; margin: 0 auto; position: absolute; top: 50%; left: 50%; margin-top: -239px; margin-left: -238px; }
.signin-head { margin: 0 auto; padding-top: 30px; width: 120px; }
.form-signin { max-width: 330px; padding: 43px 15px 15px 15px; margin: 0 auto; }
.form-signin .checkbox { margin-bottom: 10px; }
.form-signin .checkbox { font-weight: normal; }
.head-img{width: 120px;height: 120px;background-color: white;text-align: center;line-height: 1.4;font-size: 90px;color: #ccc;}
.form-signin .form-control { position: relative; font-size: 16px; height: auto; padding: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.form-signin .form-control:focus { z-index: 2; }
.form-signin input[type="text"] { margin-bottom: 14px; background: url(../../../img/login/login_user.png) 0 0 #bdbdbd no-repeat; padding-left: 60px; color: #333; }
.form-signin input[type="password"] { margin-bottom: 10px; background: url(../../../img/login/login_pas.png) 0 0 #bdbdbd no-repeat; padding-left: 60px; color: #333; }
.form-signin input[type="text"], .form-signin input[type="password"], .form-signin input[type="submit"] { border: 0px; border-radius: 0; width: 100%; height: 46px }
.forget{float: right;}